.gpt3-header {
  display: flex;
  flex-direction: row;
}

.gpt3-header-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 5rem;
}

.gpt3-header-content h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04em;
}

.gpt3-header-content p {
  font-size: 20px;
  font-family: var(--font-family);
  line-height: 27px;
  color: var(--color-text);
  margin-top: 1.5rem;
}

.gpt3-header-content-input {
  width: 100%;
  margin: 2rem 0 1rem;
  display: flex;
  flex-direction: row;
}

.gpt3-header-content-input input {
  flex: 2;
  width: 100%;
  min-height: 50px;
  background: var(--color-footer);
  font-family: var(--font-family);
  border-radius: 5px 0px 0px 5px;
  border: 2px solid var(--color-footer);
  padding: 0 1rem;
  outline: none;
  font-size: 20px;
  line-height: 27px;
  color: #fff;
}

.gpt3-header-content-input button {
  flex: 0.6;
  width: 100%;
  min-height: 50px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  background: #ff4820;
  border: 2px solid #ff4820;
  padding: 0 1rem;
  color: #fff;
  cursor: pointer;
  outline: none;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
